
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSP Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2>LIST STAFFS</h2>
		<p>
			<a class="btn btn-primary" href="#">ADD STAFF</a>
		</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Photo</th>
					<th>ID Staff</th>
					<th>Name</th>
					<th>Birthday</th>
					<th>Phone</th>
					<th>Salary</th>
					<th>Depart</th>
					<th>Gender</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${LIST_STAFF}">
					<td width="100" th:text="${item.photo}"><</td>
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.birthday}"></td>
					<td th:text="${item.phone}"></td>
					<td th:text="${item.salary}"></td>
					<td th:text="${item.departs.name}"></td>
					<td><span th:text="${item.gender}? 'Nam': 'Nu'"></span></td>
					<td><a class="btn btn-primary btn-sm"
						href="#">Edit</a> | <a
						class="btn btn-danger btn-sm" href="#">Del</a></td>
				</tr>


			</tbody>
		</table>
	</div>
</body>
</html>
